{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page d'essai de traduction</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="{% url 'set_language' %}" method="POST">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" id="">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>

        <!-- si on veut afficher la langue utilisée mais pas la sélection de la langue, ne pas oublier de mettre ceci: {% get_current_language as LANGUAGE_CODE %} pour afficher la langue utilisée ci-dessous -->
        <h2>Paramètre langue actuellement actif : {{ LANGUAGE_CODE }}</h2>
        <h1>{% translate "Essayons de traduire ce texte" %}</h1>
    </body>
</html>
